Django==4.2.7
python-dotenv==1.0.0
psycopg2-binary==2.9.9
Pillow==10.1.0
social-auth-app-django==5.4.0
Werkzeug==3.0.1
pyOpenSSL==23.3.0
django-extensions==3.2.3
requests==2.31.0
easy-thumbnails==2.8.5
