{% extends "base.html" %}

{% block title %}Edit your account{% endblock %}

{% block content %}
  {% if done %}
    <h1>{{ done }}</h1>
  {% else %}
    <h1>Edit your account</h1>
  {% endif %}
  <p>You can edit your account using the following form:</p>
  <form method="post" enctype="multipart/form-data"> <!-- multipart/form-data for import files -->
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Save changes"></p>
  </form>
{% endblock %}
